*
{
    padding: 0px;
    margin: 0px;
}
h1{
    width: fit-content;
    margin: 2px;
    border: 2px solid red;
    padding: 2px;

}

input:focus{
    border: 3px solid greenyellow;
    font-size: 20px;



}
input{
    margin: 5px;
}
ul{
   
    margin: 5px 50px;
}
li:nth-child(2n){
    background-color: blueviolet;
    display: inline;
}
li:hover{
    color:chocolate;
}